header {
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, #000000, #ffffff);
}
.custom-header i {
    font-size: xx-large !important;
    color: #000000;
    .btn-list:focus,
    .btn-list:active {
        outline: none;
        box-shadow: none;
        border: none;
    }
}
.custom-header .logo-img {
    height: 120px;
}
