.sidebar {
    font-size: xx-large !important;
    .offcanvas-title {
        font-size: xx-large !important;
    }
    .btn-close:focus {
        outline: none;
        box-shadow: none;
        border: none;
    }
    .nav-link {
        color: black !important;
        margin-bottom: 20px !important;
    }
}
