/* --- global styles --- */
* {
    text-decoration: none !important;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #0f5132, #e6d5b8);
    min-height: 100vh;
    overflow-x: hidden;
}

/* --- header --- */
header {
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, #000000, #ffffff);
}

.custom-header i {
    font-size: xx-large !important;
    color: #000000;
}

.custom-header .btn-list:focus,
.custom-header .btn-list:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.custom-header .logo-img {
    height: 120px;
}

/* --- sidebar --- */
.sidebar {
    font-size: xx-large !important;
}

.sidebar .offcanvas-title {
    font-size: xx-large !important;
}

.sidebar .btn-close:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.sidebar .nav-link {
    color: black !important;
    margin-bottom: 20px !important;
}

/* --- home page --- */
.carousel-home img {
    border: 1px solid black;
    border-radius: 15px;
}
